@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --heading-font: 'Montserrat', serif;
    --paragraph-font: 'Montserrat', serif;
    --primary-color: #E63946 </primary-color>
    --secondary-color: #457B9D </secondary-color>
    --accent1-color: #F1FAEE </accent1-color>
    --accent2-color: #659be6 </accent2-color>
}



nav a {        /*this is where the Home, About Us, Trips, Contact Us links are*/
    color: #659be6; 
    display: inline-block;
    padding: 20px;
}

.h2 {
    color: black;
}

.hero {
    position: relative;
}

h1 {              /*company name*/
    position: absolute;
    top: 5%;
    display: inline-block;
    padding: 10px;
    color: blue; 
    background-color: bisque;
    width: 95%;
    text-align: center;
}

.hero img {      /*this is the paddle picture, the big background pic*/
    width: 100%;
    height: auto;
    float: right;

}

article {
    position: absolute;
}

article p {      /*Lorem*/
    color: rgb(240, 244, 236);
    width: 80%;
    padding: 90px;
    text-align: center;
    margin-top: 935px;
    margin-left: 200px;
    background-color: rgba(21, 33, 110, 0.358);
}

article img {     /*happy rafter image*/
    float: right;
    background-color: rgb(6, 10, 63);
    /*opacity: 50%;*/
    margin: 2rem;
    margin-top: 935px;
    padding: 10px;
    height: 150px;
    width: auto;
}

.footer {
    width: 40px;
    height: auto;
}

.footer nav a img {
    width: 30px;
    height: auto;
}

img {
    width: 150px;
    height: auto;
    display: block;
}