@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --heading-font: 'Montserrat', serif;
    --paragraph-font: 'Montserrat', serif;
}

h1 {
    position: absolute;
}

article {
    position: absolute;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

article image {
    width: 300px;
    height: auto;
    float: right;
}