@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --heading-font: 'Montserrat', serif;
    --paragraph-font: 'Montserrat', serif;
}

header {
    display: grid;
    grid-template-columns: 350px 800px auto;
    grid-gap: 2rem;
    background-color: #424F67;
    justify-items: center;
}


header img {
    width: 150px;
} 

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav a {        /*this is where the Home, About Us, Trips, Contact Us links are*/
    color: #E3F3F7; 
    background-color: #424F67;
    padding: 20px;
}

.h2 {
    color: #382D0D;
}

.hero {
    position: relative;
    margin-top: 20px;
}

.hero h1 {              /*company name*/
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
    padding: 1rem;
    color: #424F67; 
    background-color: #E3F3F7;
    text-align: center;
}

.hero img {      /*this is the paddle picture, the big background pic*/
    width: 100%;
    height: auto;
    border: double #424F67;
}

.hero article {
    position: absolute;
    max-width: 90%;
    padding: 1rem;
    top: 8rem;
    left: 0;
    right: 0;
    margin: 0 auto; 
    background-color: #424f67b9;
    color: #E3F3F7;
    text-align: center;
}

.hero article h2 {
    color: #382D0D;
}

/*.hero article p {      /*Lorem*/
    /*color: rgb(240, 244, 236);
    width: 80%;
    padding: 90px;
    text-align: center;
    margin-top: 935px;
    margin-left: 200px;
    background-color: rgba(21, 33, 110, 0.358);
}*/

.hero article img {     /*happy rafter image*/
    float: right;
    padding: 10px;
    width: 200px;
}

.history {
    text-align: center;
    background-color: #E3F3F7;
    border: double #424F67;
    margin-top: 20px;
}

.contactus {
    text-align: center;
    background-color: #E3F3F7;
    border: double #424F67;
    margin: 20px 300px 20px;
}

.adventure, .grid {
    /*max-width: 840px;*/
    /*margin: 0 auto;*/
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1em;
    background-color: #424F67;
    /*padding: 10px;*/
    grid-row-start: 1;
    grid-row-end: 2;
    grid-template-columns: auto auto auto auto auto;    
    margin-top: 20px;
}

.adventure h2, .grid {
    /*max-width: 90%;*/
    display: grid;
    text-align: center;
    background-color: #E3F3F7;
    /*padding: 10px;*/
    grid-column: span 5;
    grid-row: span 2;
    border: double #424F67;
    
}


.adventure figure img, .grid {
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-gap: 1em;
    background-color: #E3F3F7;
    padding: 5px;
    grid-column: span 5;
    height: 150px;
    width: auto;
}



.adventure figcaption, .grid {
    max-width: 95%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    /*background-color: #65e678;*/
    padding: 10px;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 200px;
    text-align: center;
}


.map {
    margin-left: 600px;
}

.meetus, .grid {
    /*max-width: 840px;*/
    /*margin: 0 auto;*/
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1em;
    background-color: #424F67;
    /*padding: 10px;*/
    grid-row-start: 1;
    grid-row-end: 2;
    grid-template-columns: auto auto auto auto auto;    
    margin-top: 20px;
    font-size: smaller;
}

.meetus h2, .grid {
    /*max-width: 90%;*/
    display: grid;
    text-align: center;
    background-color: #E3F3F7;
    /*padding: 10px;*/
    grid-column: span 3;
    grid-row: span 2;
    border: double #424F67;
    
}

.meetus p, .grid {
    /*max-width: 90%;*/
    display: grid;
    text-align: center;
    background-color: #E3F3F7;
    /*padding: 10px;*/
    grid-column: span 3;
    grid-row: span 2;
    border: double #424F67;
    
}
.meetus figure img, .grid {
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-gap: 1em;
    background-color: #E3F3F7;
    padding: 5px;
    grid-column: span 5;
    height: 150px;
    width: auto;
}



.meetus figcaption, .grid {
    max-width: 95%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    /*background-color: #65e678;*/
    padding: 10px;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 200px;
    text-align: center;
}

footer {
    display: grid;
    text-indent: 80px;
    height: auto;
    background-color: #424F67;
    grid-template-columns: 1fr 1fr 1fr;
    min-width: 100%;
    border: double #E3F3F7;
    margin-top: 20px;

}

footer p {
    background-color: #424F67;
    align-content: center;
    /*justify-content: center;*/
    grid-column-start: 2;
    grid-column-end: 3;

}

.formfill {
    margin: 0;
    padding: 50px;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #382D0D;
    background-color: #6e4b43;
    font-size: small;
}

/*header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: brown;
    background-color: beige;
    margin: 0 auto;
    width: 90%;
    text-align: center;
    border-style: groove;
    font-size: .6rem;
    margin-top: 10px;
    margin-bottom: 10px;
}*/

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #424F67;
    text-align: center;
}

form {
    width: 90%;
    margin: auto;
    padding: 20px;
    border: dotted;
    border-radius: 30px;
    background-color: #424F67;
    display: grid;
}


fieldset {
    display: grid;
    grid-gap: 1rem;
    margin: 5px;
    padding: 1%;
    font-size: .8rem;
}

fieldset legend {
    font-size: larger;
    color: #382D0D;
    font-weight: bolder;
}

label, input, button, select, textarea {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

fieldset div label {
    text-align: right;
    padding-right: 2rem;
}

input, select, textarea {
    padding: .5rem;
    font-size: 1rem;
}


input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 1fr 2fr;
    margin: .5rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
    margin: 1rem 0;
}

.message {
    color: #382D0D;
    margin-left: 635px;
}

.purpose {
    grid-template-columns: 1fr 2fr;
    margin: 1rem 0;
}

.section3 {
    grid-template-columns: 1fr 2fr;
    margin: .5rem 0;
}

button {
    background-color: #74B4DF;
    color: #382D0D;
}

button:hover {
    background-color: #C48C5E;
}

footer nav a img {
    width: auto;
    height: 40px;
    grid-column-start: 3;
    grid-column-end: 4;
}

/* trips page specific info */

.tripstable * {
    color: #382D0D;
    text-align: center;
    /*background-color: #E3F3F7;*/
    /*border: double #424F67;*/
    margin: 20px 200px 20px;
}

.tripstable, table, tr, th {
    border: 1px solid #424F67;
}

.tripstable, table {
    background-color: #E3F3F7;
    text-align: center;
    padding: 20px;
    font-weight: bold;
}

.tripstable, h2 {
    font-weight: bold;
}

.tripstable, tr:nth-child(even){background-color: #C48C5E;}

.tripstable, tr:hover {background-color: #74B4DF;}


.packages {
    /*max-width: 840px;*/
    /*margin: 0 auto;*/
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1em;
    background-color: #424F67;
    /*padding: 10px;*/
    grid-row-start: 1;
    grid-row-end: 2;
    grid-template-columns: auto auto auto auto auto;    
    margin-top: 20px;
}

.packages h2, .grid {
    /*max-width: 90%;*/
    display: grid;
    text-align: center;
    background-color: #E3F3F7;
    /*padding: 10px;*/
    grid-column: span 5;
    grid-row: span 2;
    border: double #424F67;
    
}

.packages figure img, .grid {
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-gap: 1em;
    background-color: #E3F3F7;
    padding: 5px;
    grid-column: span 5;
    height: 150px;
    width: auto;
}



.packages figcaption, .grid {
    max-width: 95%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    /*background-color: #65e678;*/
    padding: 10px;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 200px;
    text-align: center;
    font-weight: bold;
}
