@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

  
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

/* colors */
:root {
    --primary-color: var(blue);
    --secondary-color: var(steelblue);
    --accent1-color: var(#F1FAEE);
    --accent2-color: var(#1D3557);

    --heading-font: 'Montserrat', serif;
    --paragraph-font: 'Montserrat', serif;
    --paragraph-font-color: aqua;
    --nav-background-color: var(#1D3557);
    --nav-link-color: var beige;
    --nav-hover-link-color: var(#e639d8);
    --nav-hover-backfround-color: var(#f0c710);
}

body {
    font-family: var(--montserrat);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);    
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-hover-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-backfround-color);
}