.callout {
	max-width: 445px;
    margin: 5px;
    border: 10px solid rgb(243, 247, 247);
    padding: 15px;
    background-color: rgb(17, 60, 125);
    color: #ffffff;
}

.callout img {
    float: right;
    margin: 0 0 10px 15px;
    border: 1px solid#000000;
    padding: 2.5px;
    background-color: #d8dbd8;
    width: 100px;
    height: auto;
}

blockquote {
    margin: auto;
}

cite {
	display: block;
    border-top: dotted;
    padding-top: 1%;
    text-align: right;
    font-size: 12px;
}